<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.odbpo.fenggo.user">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name="com.odbpo.fenggo.base_library.common.BaseApplication">
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.ForgetPwdActivity"/>
        <activity android:name=".ui.activity.ResetPwdActivity"/>
        <activity android:name=".ui.activity.UserInfoActivity"/>
    </application>

</manifest>